<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/CECSL.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../resources/css/inicio.css">
</head>

<body>
    <br>
    <br>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <!-- Formulario para cambiar datos personales -->
        <form class="row g-3" id="profileForm">
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="nombreProfesor" class="form-label">Nombre</label>
                <input id="nombreProfesor" type="text" name="nombreProfesor" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="apellidoProfesor" class="form-label">Apellido</label>
                <input id="apellidoProfesor" type="text" name="apellidoProfesor" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="correoProfesor" class="form-label">Correo</label>
                <input id="correoProfesor" type="email" name="correoProfesor" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="aliasProfesor" class="form-label">Alias</label>
                <input id="aliasProfesor" type="text" name="aliasProfesor" class="form-control" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
            </div>
        </form>
        <!-- Contenedor con enlace para abrir la caja de diálogo del formulario de cambiar constraseña -->
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="text-center p-3" style="width: 100%; max-width: 600px;">
                <h3>Cambiar contraseña</h3>
                <form id="saveForm">
                    <div class="row g-3">
                        <div class="col-sm-12 mb-3">
                            <label for="claveActual" class="form-label fw-semibold">Contraseña actual</label>
                            <input id="claveActual" type="password" name="claveActual" class="form-control"
                                placeholder="Ingresa su clave actual" autocomplete="off" required>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="claveNueva" class="form-label fw-semibold">Contraseña nueva</label>
                            <input id="claveNueva" type="password" name="claveNueva"
                                class="form-control" placeholder="Ingresa la clave nueva" autocomplete="off" required>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="confirmarClave" class="form-label fw-semibold">Repetir contraseña</label>
                            <input id="confirmarClave" type="password" name="confirmarClave"
                                class="form-control" placeholder="Confirme la clave" autocomplete="off" required>
                        </div>
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-outline-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        

        
        
        
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/profile.js"></script>
</body>

</html>